body,
html{
	height: 100%;
	width: 100%;
}

hr{
	border-color: #FC6800;
	border-width: 3px;
	max-width: 65px;
}

.faded {
  color: rgba(255, 255, 255, 0.8); 
}

header.startup{
	background-position: center;
	background-image: url("img/header.jpg") ;
	background-size: cover;
	height: 100%;

}

header.startup hr{
	margin-top: 200px;
	margin-bottom: 30px;
}

header.startup h1{
	font-size: 2rem;
}



.btn{
	font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
  font-family: 'Montserrat', sans-serif;
}

.container.btn{
	color: black;
	border-radius: 300px;
}

.btn-xl {
  padding: 1rem 2rem; 
}

.btn-primary{
	background-color: #FC6800;
	border-color: #FC6800;
}

.btn-primary:hover{
	background-color: #CB5400;
	cursor: pointer;
	border-width: 5px;
	border-color: #CB5400;
	transform: scale(1.1);
}





